#Footer {
  background-color: #9c8779;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: auto;
}

.no-overflow #Footer {
  opacity: 1 !important; 
  visibility: visible !important;
  bottom: 0 !important;
  transform: none !important;
}

#Footer.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  transform: translateY(100%);
}

#Footer.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
  transform: translateY(0);
}

#Footer .list-area {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px; 
}

#Footer .footer-content1 {
  padding-top: 10px;
}

#Footer .list-area li h2 {
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

#Footer .list-area li p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

#Footer .logo img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 1450px) {
  .footer-content {
    display: none;
  }

  .company-name {
    display: block;
  }
}