@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON%20Lv1%20Gothic%20OTF.woff")
      format("woff");
}
  
.event-page {
    text-align: center;
}

.eventhr1 {
    width: 1950px;
    border: none;
    height: 1px;
    background-color: #9c8779; 
    margin-top: 3px;
}

.eventhr2 {
    width: 1200px;
    border: none;
    height: 1px;
    background-color: #9c8779; 
    margin-top: 80px; 
}
  
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    background: none;
    border: 1px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700; /* 글씨 굵기 설정 */
    transition: font-size 0.2s, border-color 0.2s;
    outline: none;
    border-radius: 0;
    margin: 0 20px; /* 탭 사이의 간격을 설정합니다 */
    margin-top: 20px;
}

.tab:hover {
    font-size: 1.4rem;
}

.tab.active {
    border-color: #fff;
    background-color: #fff; /* 활성 탭의 배경색을 설정합니다 */
    color: #5e5148; /* 활성 탭의 텍스트 색상을 설정합니다 */
}
  
.event-container {
    width: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px; /* 이미지 간격 설정 */
    justify-items: center; /* 각 항목을 중앙 정렬 */
    padding: 0px;
    margin-left: 320px;
}
  
.event-item {
    background: rgb(243, 239, 236);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}
  
.event-item img {
    width: 550px;
    border-radius: 8px;
    cursor: pointer;
}
  
