.search-results {
  margin-bottom: 50px;
}

.productlists {
  margin-bottom: 50px;
}

.products .header {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center; /* 텍스트를 가운데 정렬합니다. */
}

.products .header h2 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #9c8779;
  display: inline-block; /* 헤더를 인라인 블록 요소로 설정하여 중앙 정렬합니다. */
  margin: 0px auto; /* 좌우 여백을 자동으로 맞추어 가운데 정렬합니다. */
}

.products .custom-hr {
  text-align: center;
  margin-left: 0;
  margin-top: 50px;
}

.custom-hr hr {
  width: 1200px;
  border: 1.5px solid #9c8779;
}

.products .single-product {
  margin-top: 20px;
  margin-bottom: 20px; /* 제품 사이의 간격을 조절합니다. */
  width: calc(
    33.333% - 60px
  ); /* 한 줄에 3개의 제품이 나열되도록 너비를 설정합니다. */
  margin-right: 30px; /* 오른쪽 마진을 설정하여 각 제품의 간격을 유지합니다. */
  margin-left: 30px; /* 왼쪽 마진을 설정하여 각 제품의 간격을 유지합니다. */
  float: left; /* 왼쪽 정렬을 위해 플로팅을 설정합니다. */
  box-sizing: border-box; /* 요소의 너비와 높이에 padding과 border를 포함시킵니다. */
}

.icon-list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.5s ease; /* 전환 효과 추가 */
}

.products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.productlist .productlist-1 .part-1 ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  margin-left: 5px;
}

.productlist .productlist-1:hover .part-1 ul {
  transform: translateY(-3em);
  opacity: 1;
}

.custom-icon {
  margin-top: 5px; /* 아이콘 위치를 아래로 조정 */
}

.productlist .productlist-1 .part-1 ul li {
  display: inline-block;
  margin-left: -5px;
  /* margin-right: 10px; 아이콘 사이 간격 */
}

.productlist .productlist-1 .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 35px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}

.productlist .productlist-1 .part-1 ul li a:hover {
  color: #f54343;
}

.productlist .productlist-1 .part-1 ul li a.favorite {
  color: #f54343;
}

.products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}

.view-details-button {
  display: inline-block;
  color: #9c8779;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #9c8779;
  padding: 10px 20px;
  border-radius: 5px;
}

.view-details-button:hover {
  background-color: #9c8779;
  color: #fff;
}

.productlist {
  display: flex;
  justify-content: space-between;
  margin: 0 140px 20px;
}

.productlist-1 img {
  width: 100%;
}

.view-details-button1 {
  display: inline-block;
  color: #9c8779;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #9c8779;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.view-details-button1:hover {
  background-color: #9c8779;
  color: #fff;
}

.productlist-img {
  width: 50%;
  height: auto;
}

.productlist-1 {
  flex: 1;
  margin: 10px;
  border: 1px solid #9c8779;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: auto; /* 이미지와 상관없이 상자의 높이를 고정합니다. */
}

.productstitle {
  font-size: 2.8rem;
  font-weight: 400;
  color: #9c8779;
  display: inline-block;
  margin: 0 auto;
}

.sort-options {
  align-items: center;
  margin: 20px 0;
}

.search-results__sort-label {
  margin-right: 10px;
  font-size: 16px;
  color: #9c8779;
}

.search-results__sort-select {
  width: 130px;
  font-size: 14px;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #9c8779;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  transition: all 0.1s ease-out;
  outline: none;
}

.search-results__title {
  font-size: 2.8rem;
  font-weight: 400;
  color: #857367;
  display: inline-block;
  margin: 0 auto;
  background-color: #dfd7cd;
}

.search-results__list {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

.search-results__item {
  border: 1px solid #857367;
  margin-bottom: 30px;
  border-radius: 15px;
  width: 460px;
}

.search-results__item-title {
  color: #9c8779;
}

.search-results__item-category {
  font-size: 13px;
  font-style: italic;
}

.search-results__no-results {
  font-size: 40px;
  color: #857367;
  font-style: italic;
  font-weight: bold;
  padding-top: 50px;
}