.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-panel {
  flex: 0 0 300px; /* Left panel width */
  margin-right: 20px; /* Gap between panels */
}

.right-panel {
  flex: 1;
}

.reviews-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reviews-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.reviews-summary span {
  font-size: 30px;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
  color: #9c8779;
}

.rating-score {
  font-size: 2em;
  margin-right: 10px;
}

.rating-star {
  font-size: 34px;
}

.leave-feedback {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev,
.next {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.review-form input,
.review-form textarea,
.filters input,
.filters select {
  font-family: "NEXON Lv1 Gothic OTF";
  margin-top: 20px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #9c8779;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  transition: all 0.1s ease-out;
  outline: none;
}

.review-form textarea {
  margin-bottom: 20px;
}

.rating-stars {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.rating-label {
  margin-right: 10px;
  font-size: 13px;
  color: #6e6e6e;
}

.label-star {
  font-size: 24px;
  cursor: pointer;
  color: #9c8779;
}

.rating-stars span.selected {
  color: #000;
}

.review-form button {
  margin-bottom: 30px;
}
