@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON%20Lv1%20Gothic%20OTF.woff")
      format("woff");
  }

  .cartpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-summary {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.carthr1 {
    width: 1950px;
    border: none;
    height: 1px;
    background-color: #9c8779; 
    margin-top: 3px;
}
