.product-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.recommend1 {
  margin: 20px;
}

.recommend1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all-button {
  background-color: #9c8779;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;
  flex-direction: row;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 16px;
}

.product-card a {
  display: inline-block;
  margin-top: 10px;
  color: #9c8779;
  text-decoration: none;
  font-size: 15px;
}
