.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 785px; /* 베너 높이 */
}

.slider-item img {
  width: 100%;
  height: auto;
  max-height: 785px;
  object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 함 */
}
