@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON%20Lv1%20Gothic%20OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "NEXON Lv1 Gothic OTF";
  overflow-y: auto;
  overflow-x: hidden; /* 수평 스크롤은 숨김 */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
}

.maincontent {
  min-height: 100vh;
  padding-top: 35px;
  padding-bottom: 30px;
  width: 100%;
  overflow-y: auto; /* 수직 스크롤 가능 */
}

.no-overflow {
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.banner {
  margin-top: -21px;
}

.search-bar {
  margin-top: 10px;
  margin-bottom: -60px;
}

.search-bar input {
  font-family: "NEXON Lv1 Gothic OTF";
  margin-top: 30px;
  margin-bottom: 30px;
  width: 440px;
  height: 35px;
  border: none;
  border-bottom: 1px solid #e1cbb7;
  border-radius: 0;
  padding-left: 0;
  box-shadow: none;
  transition: all 0.1s ease-out;
  outline: none;
}

button {
  font-family: "NEXON Lv1 Gothic OTF";
  background-color: #fff;
  color: #9c8779;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  border: 1px solid #e1cbb7;
}

.banner img {
  width: 100%;
  height: 100%;
}

select {
  font-family: "NEXON Lv1 Gothic OTF";
}

.accordion-style {
  font-family: "NEXON Lv1 Gothic OTF";
}

.accordion-content {
  font-family: "NEXON Lv1 Gothic OTF";
}

.custom-swal-popup {
  background-color: #f0f0f0 !important;
  border: 1px solid #857367 !important;
  width: 700px !important;
  height: auto !important;
}

.custom-swal-title {
  color: #333 !important;
  text-align: center !important;
}

.swal2-confirm,
.custom-swal-confirm-button {
  background-color: #ebe5dc !important;
  color: #857367 !important;
}

.swal2-confirm:focus,
.custom-swal-confirm-button:focus {
  box-shadow: none !important;
}

.swal2-cancel,
.custom-swal-cancel-button {
  background-color: #484848 !important;
  color: white !important;
}

.swal2-cancel:focus,
.custom-swal-cancel-button:focus {
  box-shadow: none !important;
}
